#nosotros{
    width: auto;
}

#nosotros img{
    text-align: center;
    width: 100%;
    height: 40%;

}

#nosotros .contenedor{
    width: 100%;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
